/*This is CSS. CSS adds style, colour sizing etc to your webpages.
Anything called in here will directly impact your webpage. For example body refers to whatever is in the body on your webpages.
This is important if you are using the same keywords more than once but want them to do different things or look different.
You should always check your css to make sure there are no clashes if you have multiple items such as slideshows, containers etc. */


form.add-to-cart div,
form.add-to-cart p {
	text-align: center;

}
script
form input.qty {
	width: 10px;
	font: 1em 'PT Serif', serif;
	background: white;
	color: white;
	border-radius: 3px;
	margin-left: 0.8em;


}

.btn, a.btn {
	display: inline-block;
	background: Blue;
	color: white;
	font: 1em 'PT Serif', serif;
	padding: 0.3em 0.1em;
	text-align: center;
	border-radius: 4px;

}
