body {
  background-color: white;
}

ul {
  background-color: rgb(0, 150, 90);
  border: 2px solid #100;
    margin-bottom: 100px;
  list-style-type: none;
  margin: 0;
  padding: 10;}
div {  margin-bottom: 100px;}
}
ul {
  background: Grey;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: skyBlue;
  background: skyBlue;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: grey;
  max-height:50px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*nav bar*/
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
li a {
  color: white;
}

li:hover {
    background: pink;
    cursor: pointer;
}

ul li ul {
    background: black;
    visibility: hidden;
  opacity: 20;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 10;
  display: none;
}

{
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer

    }
    .topnav-right {
      float: right;
    }

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}

li {
  background-color: rgb(255, 0, 0);
  display: inline;
  padding: 10px 6px;
  border: 0px solid #100;




  /*Topnavbar CSS*/







}
h1 {
  text-align: center;
/*title: Join the T&B mandem*/
}

p{
margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 20px;

  /*main body of text*/
}

.steve{
margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 200px;
  margin-left: 200px;

  /*main body of text*/
}



/* Bordered form */
form {
  border: 1px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
}
/* Add padding to containers */
.container {
  padding-top: 30px;
}
/* The "Forgot password" text */
span.psw {
  float: right;
  padding-right: 10px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 100px) {
  span.psw {
    display: block;
    float: Center;
  }

}
/* Login form for the login button including all the buttons.
It lacks references to make the form work but is a plceholer*/
